body {
    margin: 0 auto;
    width: 900px;
}

.formContainer {
    /* width: 900px; */
    margin: 0 auto;
    /* border: 1px solid gray; */
    /* padding: 25px; */
}

#banner {
    background-color: rgb(8, 8, 109);
    color: white;
    text-align: center;
    margin-bottom: 20px;
    height: 100px;
}

#articles {
    margin: 0 auto;
    margin-top: 25px;
}
